/* Import variables from vars.css */
@import "../../vars.css";

/* Styling for the main container */
.container {
  background-color: var(--color-primary);
  padding-top: 4rem;
}

.content {
  display: flex;
  flex-direction: column;
  margin: auto;
  max-width: 980px;
}

.projectTitle {
  color: var(--title-color);
  font-size: 1.2rem;
  font-weight: 900;
  margin-bottom: 2rem;
  text-align: center;
}

.content h3 {
  color: var(--color-text);
  font-size: 1.5rem;
  line-height: 1.1;
  font-family: Poppins, sans-serif;
  margin-bottom: 2rem;
}

.projects {
  max-width: 980px;
  width: 100%;
  padding: 4rem 0;
}

.projectItems {
  display: flex;
  margin-bottom: 4rem;
  gap: 1rem;
  height: 28rem;
  background-color: var(--color-bg);
  border-radius: 1.7rem;
  padding: 1rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.itemsImg {
  border-radius: 1.7rem;
  overflow: hidden;
  margin-right: 1rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.projectImage {
  width: 100%;
}

.itemsImg:hover .projectImage {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  animation: slideUpDown 10s ease-in-out infinite;
}

/* Keyframes for hover animation */
@keyframes slideUpDown {
  0%,
  100% {
    transform: translateY(0%);
  }
  25% {
    transform: translateY(-78%);
  }
}

.itemsText {
  display: flex;
  flex-direction: column;
  padding: 2rem 0;
}

.itemTextBox {
  flex: 1;
}

.itemsText h3 {
  color: var(--color-secondary);
  font-size: 1.2rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

.itemsText p {
  color: #767676;
  font-size: 1.2rem;
  font-weight: 500;
}

.stack {
  display: flex;
  justify-content: center;
}

.stack span {
  background-color: var(--color-bg);
  font-weight: 600;
  padding: 0 1.3rem;
  color: var(--color-secondary);
}

.links {
  display: flex;
  justify-content: space-evenly;
  margin-top: 1.5rem;
}
/* 
.links a {
  background-color: var(--color-bg);
  color: var(--title-color);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  font-weight: 600;
  padding: 0.5rem;
  width: 120px;
  text-align: center;
} */

.links a {
  background-color: var(--color-bg);
  color: var(--title-color);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  font-weight: 600;
  padding: 0.5rem;
  width: 120px;
  text-align: center;
  display: inline-block;
  text-decoration: none;
  transition: background-color 0.3s, color 0.3s;
}

.links a:hover {
  background-color: var(--text-color);
  color: var(--container-color);
}

@media screen and (max-width: 830px) {
  .container {
    padding: 1rem;
    text-align: center;
  }

  .projects {
    display: flex;
    flex-direction: column-reverse;
    padding-bottom: 1rem;
  }

  .projectItems {
    display: flex;
    flex-direction: column;
    height: 45rem;
  }

  .itemsImg {
    margin: auto;
    width: 100%;
  }

  .itemsText {
    padding-top: 3rem;
  }
}
