@import "../../vars.css";

/* Container Styles */
.container {
  max-width: 880px;
  margin: auto;
  margin-top: 10rem;
  margin-bottom: 5rem;
  background-color: var(--color-primary);
}

.content {
  display: flex;
  justify-content: space-between;
  max-width: 980px;
  width: 100%;
  margin: auto;
  align-content: center;
  gap: 6rem;
}

.heroMain {
  padding-bottom: 5rem;
}

.heroMain h1 {
  color: var(--title-color);
  font-size: 2.5rem;
  line-height: 1.2;
  margin-bottom: 2rem;
  margin-top: 2rem;
}

.heroMain p {
  color: var(--color-text);
  font-family: Mulish, sans-serif;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.6;
  margin-bottom: 2rem;
}

.heroImg {
  background-image: url(../../assets/Female-profile.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  box-shadow: inset 0 0 0 9px rgb(255, 255, 255 / 30%);
  order: 1;
  justify-self: center;
  width: 400px;
  height: 300px;
  border-radius: 30% 60% 70% 40%/50% 60% 30% 60%;
  animation: morph 8s ease-in-out infinite 1s;
}

.socialLinks a {
  color: inherit;
}

.socialLinks,
.icons {
  font-size: 2.5rem;
  font-weight: 400;
  cursor: pointer;
  display: flex;
  gap: 1.3rem;
  color: var(--title-color);
}

.techStack {
  display: flex;
  justify-content: center;
}

.techStack span {
  display: flex;
  align-items: center;
  margin-right: 16px;
}

.waveEmoji {
  font-size: 2.5rem;
}

.icons {
  display: flex;
  gap: 1rem;
}

.icons svg {
  font-size: 3rem;
}

/* Animation Keyframes */
@keyframes morph {
  0% {
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
  }
  50% {
    border-radius: 30% 60% 70% 40%/50% 60% 30% 60%;
  }
  100% {
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
  }
}

/* Media Query for Small Screens */
@media screen and (max-width: 830px) {
  .container {
    padding: 10% 10% 0 10%;
  }

  .content {
    display: flex;
    flex-direction: column-reverse;
  }

  .heroImg {
    margin: auto;
    width: 100%;
  }

  .heroMain {
    padding: 1rem 0;
  }
}
